[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/admin/pi3b-
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/admin/pi3b-/.venv/bin/python /home/admin/pi3b-/firmware/domain/recorder.py
Restart=always
RestartSec=5
TimeoutStartSec=300
