[Unit]
Description=Restart custom services on startup
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/pi3b-
# Use a relative path for the script
ExecStart=/bin/bash restart_services.sh
Restart=no

[Install]
WantedBy=multi-user.target