[Unit]
Description=Restart custom services on startup
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/admin/pi3b-
# Use absolute path instead of relative
ExecStart=/bin/bash /home/admin/pi3b-/restart_services.sh
Restart=no

[Install]
WantedBy=multi-user.target